<<<<<<< HEAD
.header {
	padding: 50px;
	background-color: #cdcdcd;
	text-align: center;
	font-size: 32px;
	color: red;
=======
.main {
	background-color: yellow;
	font-size: 20px;
	padding: 100px;
	color: green;
}
>>>>>>> content